#Intro {
    font-family :"Times New Roman";
    font-size: 30px;
    text-decoration : underline;
    color:green;
    font-weight : bold;
    padding-top: 270px;

}
#Ex {
    font-family :"Times New Roman";
    font-size: 15px;
    color:darkred;
    font-weight : bold;
}
#Modes {
    font-family :"Times New Roman";
    font-size: 30px;
    text-decoration : underline;
    color:green;
    font-weight : bold;
}
#mode1 {
    font-family :"Times New Roman";
    font-size: 20px;
    text-decoration : underline;
    color:yellow;
}

#modestemp {
    font-family :"Times New Roman";
    font-size: 15px;
    color:darkred;
    font-weight : bold;
}
#mode2 {
    font-family :"Times New Roman";
    font-size: 20px;
    text-decoration : underline;
    color:yellow;
}
#modesconst {
    font-family :"Times New Roman";
    font-size: 15px;
    color:darkred;
    font-weight : bold;
}
body { 
    margin:0;
    padding:0;
    background: url(fond.png) no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover; 
  }
#epicgames {
    font-family :"Times New Roman";
    font-size: 15px;
    color:blue;
}
#Joueurs {
    font-family :"Times New Roman";
    font-size: 30px;
    text-decoration : underline;
    color:green;
    font-weight : bold;